.greeting h1 {
  display: flex;
  justify-content: center;
  font-family: "Carattere";
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.greeting h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.greeting h4 {
  display: flex;
  justify-content: center;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.main-details {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.main-form {
  display: grid;
  font-size: 1.2rem;
  justify-items: stretch;
  width: 100%;
}

.main-form-row  {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-form-label {
  font-weight: bold;
  margin-right: 10px;
  width: 19vw;
}

.main-form-input {
  width: 55%;
}

.button-row {
  display: flex;
  justify-content: center;
}
