.header {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgb(248, 244, 244);
  color: rgb(70, 5, 5);
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-image {
  height: 4rem;
}

.header-title {
  font-family: 'Carattere';
  font-size: 4rem;
}

.header-welcomemsg, 
.header-logout {
  font-size: 1.2rem;
}



