.card {
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;
  background-position: center;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 2rem;
  height: 30rem;
  width: 20rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.card_active {
  opacity: 1;
  pointer-events: visible;
}

.carouselCard {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}

/* .carouselCard_active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
} */


.card-overlay {
  background-color: #e6e2e271;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 32%;
  width: 100%;
  padding: 0.3rem;
}

.card-overlay-text {
  height: 50%;
  width: 100%;
}

.card-overlay-text-name {
  margin: 0.5rem;
  font-weight: 800;
}

.card-overlay-text-intro {
  margin: 0;
  font-size: 0.75rem;
}

.card-overlay-buttons {
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-overlay-button {
  width: 2.5rem;
  height: 2.5rem;
}

.closecircle {
  color:rgba(194, 26, 26, 0.73);
}

.checkcircle{
  color:rgba(8, 121, 40, 0.73);
}

.rightcircle {
  color:rgba(53, 39, 39, 0.73);
}

